<div class="place-card">
	<div class="place-image">
		<img src="<%= domain.thumbnail ?? '/img/placesPlaceholder.webp' %>" onerror="this.onerror=null; this.src='/img/placesPlaceholder.webp';">
	</div>
	<div class="place-info">
		<div class="name"><%= domain.name %></div>
		<div class="players"><%= domain.num_users %></div>
	</div>
</div>