<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Overte Directory Dashboard</title>
	
	<link rel="stylesheet" type="text/css" href="/css/places.css"/>
	<link rel="stylesheet" type="text/css" href="/css/generic.css"/>
</head>
<body>
	<%- include("../partials/header.ejs") %>

	<div class="places-container">
		<% for (let domain of domainList) { %>
			<%- include("../partials/domainCard.ejs", { domain: domain }) %>
		<% } %>
	</div>
</body>

<script src="/js/generic.js"></script>
<script src="/js/directoryAPI.js"></script>
<script src="/js/domains.js"></script>
</html>