<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Overte Directory Dashboard</title>
	
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="/css/generic.css"/>
</head>
<body>
	<%- include("../partials/header.ejs") %>

</body>



<script src="/js/generic.js"></script>
</html>