<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Overte Directory Dashboard</title>
	
	<link rel="icon" href="/img/favicon.svg" type="image/png">
	<link rel="stylesheet" type="text/css" href="/css/places.css"/>
	<link rel="stylesheet" type="text/css" href="/css/generic.css"/>
</head>
<body>
	<%- include("../partials/header.ejs") %>

	<div class="places-container">
		<% for (let place of placesList.data.places) { %>
			<%- include("../partials/placeCard.ejs", { place: place }) %>
		<% } %>
	</div>
</body>



<script src="/js/generic.js"></script>
<script src="/js/directoryAPI.js"></script>
<script src="/js/places.js"></script>
</html>